<section class="about-section">

  <div class="about-container">

    <!-- FOTO -->
    <div class="about-image-container">

      <img
        src="/images/about/nora.png"
        alt="Nora Sanchez - Terapeuta Holística"
        class="about-image"
      >

    </div>


    <!-- INFORMACIÓN -->
    <div class="about-content">

      <h2>
        Sobre Mí
      </h2>

      <h3>
        Nora Sanchez
      </h3>

      <p class="about-profession">
        Terapeuta Holística | Bienestar & Armonía Integral
        Acompaño tu proceso de transformación personal hacia el equilibrio de tu mente, cuerpo y energía. A través de la conexión consciente y la sanación holística, facilito un espacio para reencontrar tu punto de luz y paz interior.
      </p>



    </div>

  </div>

</section>