<section class="location-section">

  <div class="location-container">

    <!-- ENCABEZADO -->

    <div class="location-header">

      <span class="location-decoration">
        ✧
      </span>

      <h2>
        Encuéntranos
      </h2>

      <p>
        Estamos aquí para acompañarte en tu camino
        hacia el bienestar y el equilibrio.
      </p>

    </div>


    <!-- CONTENIDO -->

    <div class="location-content">


      <!-- INFORMACIÓN -->

      <div class="location-info">

        <div class="location-item">

          <div class="location-icon">
            📍
          </div>

          <div>

            <h3>
              Ubicación
            </h3>

            <p>
              {{ address }}
            </p>

          </div>

        </div>


        <div class="location-item">

          <div class="location-icon">
            🕐
          </div>

          <div>

            <h3>
              Horario
            </h3>

            <p>
              {{ schedule }}
            </p>

          </div>

        </div>


        <div class="location-item">

          <div class="location-icon">
            💬
          </div>

          <div>

            <h3>
              Atención
            </h3>

            <p>
              Agenda tu sesión previamente.
            </p>

          </div>

        </div>


        <button
  type="button"
  class="location-button"
  (click)="openGoogleMaps()"
>
  📍 Cómo llegar
</button>

      </div>


      <!-- MAPA -->

      <div class="location-map">

        <div class="location-map">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.325252470363!2d-106.39450012847456!3d23.247438256730927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f530069f2ee2d%3A0x5e06ffd493518f1c!2sNS%20Terapia%20Holistica%20y%20Masajes%20Terapeuticos!5e0!3m2!1sen!2smx!4v1790818407487!5m2!1sen!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>

</div>

      </div>


    </div>

  </div>

</section>